.item {
  background-color: gray;
  align-items: center;
  padding: 10px;
  color: white;
}

.img {
  background-color: black;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
}

.text h3 {
  margin: 0;
}

.text p {
  margin: 0;
  font-size: 0.8rem;
}
