.background {
  background-color: gray;
  padding: 5rem;
  position: relative;
}

.content {
  text-align: center;
  position: relative;
  color: white;
}

.content > h1 {
  font-size: 3rem;
}

.picture {
  border-radius: 50%;
  border: solid .5rem white;
}