.container {
  padding: 1rem;
  width: 19rem;
}

.card {
  height: 100%;
}

.card:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.card > * {
  margin: 0;
  padding: 0;
}

.card > h1 {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.card > p {
  line-height: 1.4rem;
}


.link {
  text-decoration: none;
  color: black;
}

.img-container > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 16px;
  pointer-events: none;
}

