.thumbnail-container {
  object-fit: contain;
  overflow: hidden;
  background-color: #333;
  position: relative;
  border: #333 solid 10px;
}

.thumbnail-container:hover {
  cursor: pointer;
}

.thumbnail-container > img {
  width: 100%;
  max-width: 500px;
  display: block;
  transition: all 0.25s linear 0s;
}

.thumbnail-container:hover > img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.thumbnail-container:hover > .overlay {
  opacity: 1;
}

.badge {
  background-color: rgb(104, 228, 104);
  color: white;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: .5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  transition: all 0.1s linear 0s;
  opacity: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s linear 0s;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}
