.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0;
  margin: 0;
}

.home-button {
  display: flex;
  transition: transform .075s linear;
}

.home-button:hover {
  transform: scale(1.05); 
  cursor: pointer;
}

.navbar-icon {
  margin: auto 10px;
}

.navbar-title {
  user-select: none;
  margin: 0;
}

.header ul li {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  transition: all .25s ease 0s;
  text-decoration: none;
  color: white;
  display: block;
  padding: 16px;
  margin: 0;
}

.nav-links li a:hover {
  background-color: black;
}