.footer {
  background-color: #24262b;
  color: #ffffff;
  padding-bottom: .5rem;
  padding-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer p {
  font-size: .75rem;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.icons-container > a {
  text-decoration: none;
  color: white;
  transition: all 0.1s linear 0s;
}

.icons-container > a:hover {
  transform: scale(1.25);
}