.card {
  box-sizing: border-box;
  background-color: white;
  padding: 1rem;
  border: 2px solid black;
  text-align: left;
  box-shadow: 15px 15px 0 rgba(30, 30, 30, 0.1);
  transition: transform 0.175s linear;
}